/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
font-family: "Blokje-1";
src:url(../fonts/ExpletusSans-Regular.ttf)
}

@font-face {
  font-family: "Blokje-1-Bold";
src:url(../fonts/ExpletusSans-Bold.ttf)
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: "Blokje-1-Bold";
  

}

li:first-of-type p {
  font-family: "Blokje-1";
  line-height: 120%;
  font-size: 12px;
  

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
font-family: "Blokje-1-Bold";
font-size: 30px;
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "Blokje-2";
  src: url(../fonts/Montserrat-Thin.ttf);
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  font-family: "Blokje-2";
  font-size: 2.5em;
  font-weight: 100;
  line-height: 80%;
  text-transform: uppercase;
  margin:0;
  color:var(--color);
  text-shadow: 0em 0em .1em var(--shadow), 
               0em 0em .2em var(--shadow), 
               0em 0em .3em var(--shadow);
  

  /* JOUW CODE HIER */

  
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  
  font-family: "Blokje-3";
  src: url(../fonts/Saira_Condensed-Bold.ttf);
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  background-color: var(--background);
}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: "Blokje-3";
  color: var(--color);
  font-size: 2.5em;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: skewY(-10deg);
  margin:0;
  color:var(--color);
  text-shadow: 0.1em 0.1em var(--shadow);

  
}